---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

export async function getStaticPaths() {
  const codes = await getCollection("codes");

  return codes.map((code) => ({
    params: { slug: code.slug },
    props: { code },
  }));
}

type Props = {
  code: CollectionEntry<"codes">;
};

const { code } = Astro.props;
const { Content } = await code.render();
---

<Layout title={code.data.title} description={code.data.description}>
  <main class="code mx-auto flex w-full max-w-prose flex-col gap-4">
    <header role="presentation">
      <h1 class="text-md">
        {code.data.title} - {formatDate(code.data.publishedAt)}
      </h1>
      <p class="italic">{code.data.description}</p>
    </header>

    <Content />
  </main>
</Layout>
